body{
    margin: 0px;
}
.container{
    margin-bottom: 90px;
}

.pink-bg{
    background-color: #FCEAE8;
    padding: 5px 40px;
    border-radius: 15px;
}
.price{
    color: #FF136F;
   
}
.buy-now-button{
    margin-top: 10px;
    background-image: linear-gradient(to bottom,#eb76a3 0%,#f32474 100% );
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
.cat-1,.cat-2,.cat-3{
    color: #fff;
    padding: 6px 10px;
    border-radius: 10px;
}


.cat-1{
    background-color: orange;
   
}
.cat-2{
    background-color: orchid;
}
.cat-3{
    background-color: rgb(156, 26, 26);
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 10px 15px 20px lightgrey;
}
.categories img{
    width: 110px;
}
.card-footer{
    border-top: none;
}
#backpack img{
width: 350px;
}
.contact-part{
    background-color: rgb(248, 220, 224);
    height: 350px;
    border-radius: 10px;
}
.email-prt{
    padding: 10px 30px; 
    border: 1px solid #eb76a3;
    border-radius: 5px;
   
}
h6{
    color: lightslategrey;
}
footer{
    text-align: center;
    color: lightslategrey;
    margin-bottom: 20px;
}